.featured-container {
    margin: 20px auto; 
    max-width: 550px; 
    text-align: center; 

    .carousel {
        .featured-img {
            width: 100%;
            max-height: 400px;
            object-fit: cover; 
            object-position: center;
            margin: 0 auto; 
        }
    }
}

.carousel-inner {
    border: 10px solid #FFF;
    border-radius: 5px;
}
