.logo-img {
    max-width: 50px;
    border-radius: 50%;
}

.postCard img {
    width: 100%;
    padding: 10px 10px 30px 10px;
}

.onePost img {
    max-width: 450px;
    max-height: 450px;
}

@media (max-width: 500px) {
    .onePost img {
        max-width: 300px;
        max-height: 300px;
    }
}