#hamburger-menu {
    display: none; 
  }
  
  .hamburger-icon {
    display: none;
    font-size: 1.6rem;
    cursor: pointer; 
  }
  
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .menu {
      list-style: none;
      display: flex;
      gap: 20px;
  
      li {
        a {
          text-decoration: none;
          color: black;
          transition: color 0.3s;
  
          &:hover {
            color: #FF7168;
          }
        }
      }
    }
  }

  .goToTop {
    display: flex;
    max-width: 200px;
    margin: 10px auto;
  }

  .nav-list {
    display: flex;
    gap: 10px;
    font-size: 1.1rem;
  }

  .nav-list li {
    list-style-type: none;
  }
  
  @media (max-width: 800px) {
    .hamburger-icon {
      display: block; 
    }
  
    .navigation {
        position: relative;

      .menu {
        display: none;
        flex-direction: column;
        gap: 22px;
        padding: 40px;
        background-color: #F2EFE9; 
        border-radius: 5px;
        position: fixed;
        top: 93px;
        width: 100%;
        z-index: 9999;
      }
    }

    #hamburger-menu:checked ~ .navigation .menu {
      display: flex;
    }
  }
  