@use 'header';
@use 'navigation';


a {
    text-decoration: none;
    color: black;
}

.displayPosts {
    display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.postCard {
    max-width: 400px;
    background-color: antiquewhite;
}

.postCard img {
    width: 100%;
}