$headerFont: 'Sour Gummy', serif;
$secondaryFont: 'Josefin Sans', serif;
$userFeedbackColor: #FF7168;

@import 'header';
@import 'navigation';
@import 'images';
@import 'feed';
@import 'userFeedback';
@import 'carousell';
@import 'homeText';
@import 'buttons';
@import 'footer';
@import 'singlePost';
@import 'about';
@import 'comments';

body {
    background-color: #F2EFE9;
}

a {
    text-decoration: none;
    color: black;
}

.home-main .feed-container {
    display: none;
}
